<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% if title %}
  <title>Flask Blog - {{ title }}</title>
  {% else %}
    <title>Flask Blog</title>
  {% endif %}
</head>
<body>
  <h1>About Page</h1>

</body>
</html>
